// 구글폰트
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-sb() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin center-se() {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@mixin c-center-s() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin c-center-sb() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@mixin c-center-se() {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
